html{
  overflow-x: hidden!important;
  font-size: var(--font-body-size);
}
body{
  overflow: hidden!important;
  position: relative;
  &.boxed{ 
	 background-color: #EAF1F7;  
	 div.gva-body-wrapper{
		background: $white;
		max-width: 1440px;  
		margin: 0 auto;
		box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.05);
		position: relative;
	 }
  }
  .body-page{
	 background-color: #fff;
  }
  &.logged-in{
	 &.toolbar-horizontal{ 
		.header-1{
		  margin-top: 39px;
		}
	 }
  }
  &.bg-dark{
	 background: #EFF1F2;
	 .gva-body-page{
		background: #EFF1F2;
	 }
  }
}

.area{
  &.slideshow_content{
	 .block{
		margin-bottom: 0;
	 }
  }
}

.area-panel{
  padding: 30px 0;
}

.help.show{
   display: block!important;
}

.header-right{
  .block{
	 margin-bottom: 0;
  }
}

#page-main-content{
  min-height: 360px;
  @media(max-width: 768.9px){
	 min-height: 100px;
  }
}

.main-menu{
  .area-main-menu{
	 .area-inner{
		.block{
		  margin-bottom: 0;
		}
	 }  
  }
}  

.sidebar{
  position: relative;
}

#footer{
  	color: var(--footer-color); 
  	font-size: 15px;
  	background: url('#{$base-theme-image-path}/bg-footer.png') no-repeat left top var(--footer-bg-color); 
  	background-size: cover;
  	a{
	 	color: var(--footer-link-color);
	 	&:hover, &:focus{
			color: var(--footer-link-color-hover);
	 	}
  	}
 
  	.block{
	 	padding-bottom: 0;
	 	margin-bottom: 0;
	 	.block-title{
			color: $white!important;
			&:after, &:before{
		  		display: none;
			}
	 	}
  	}
  	.text-copyright{
  		@media (max-width: 767px){
  			text-align: center;
  		}
  	}
  	.copyright{
	 	font-size: 15px;
	 	font-weight: 400;
	 	.copyright-inner{
			padding: 30px 0;
			border-top: 1px solid rgba(255, 255, 255, 0.1);
	 	}
  	}
  	.gsc-heading__title{
  		letter-spacing: 0;
  	}
  	.gsc-socials {
	  	margin: 25px 0 0;
	  	a{
		  	margin-right: 5px;
		  	i{
		  		width: 42px;
		  		height: 42px;
		  		background: #0f0f0f;
		  	}
		  	&:hover, &:focus{
		  		i{
		  			background: $theme-color;
		  		}
		  	}
		  }
	  }
	  .gallery-post a.zoomGallery{
	  	font-size: 15px;
	  }
}
.user-links{
	list-style: none;
	padding-left: 0;
	li {
		padding-bottom: 8px;
	}
}
.footer-links{
	width: 100%;
	list-style: none;
	padding-left: 0;
	display: inline-flex;
	align-items: center;
	justify-content: flex-end;
	@media (max-width: 767px){
		justify-content: center;
	}
	li {
		position: relative;
		+ li{
			padding-left: 15px;
			margin-left: 15px;
			&:before{
				position: absolute;
		    left: -3px;
		    top: 0;
		    font-weight: 500;
		    content: "/";
		  }
		}
	}
}
.border-light-bottom{
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}