<article class="testimonial-three__single">      
   <div class="testimonial-three__content">
      <div class="testimonial_three__content-inner">
         <span class="testimonial-three__icon"></span>
         <div class="testimonial-three__quote">{{ fields.body.content|striptags|trim }}</div>  
      </div>
      <div class="testimonial-three__meta">
         <div class="testimonial-three__avatar">
            {{ fields.field_testimonial_avatar.content }}
         </div>  
         <div class="testimonial-three__info">
            <h3 class="testimonial-three__name">{{ fields.field_testimonial_name.content }}</h3>
            <div class="testimonial-three__job">{{ fields.field_testimonial_job.content }}</div>   
         </div>  
      </div>
   </div>
</article>
  